.grid-container {
  padding: 1%;
}

.small-icon {
  font-size: smaller;
}

.small-text {
  font-size: small;
  width: 100%;
}

mat-card-actions {
  display: flex;
  align-items: flex-end;
  margin-top: -0.5%
}

.actionButton {
  min-width: fit-content;
  opacity: 50%;
}

.actionButton:hover {
  opacity: 100%;
}

table {
  width: 100%;
}

.inactive {
  color: gray;
}

.mat-row:nth-child(even) {
  /*TODO: spravit to ako konstantu v const.ts*/
  background-color: rgba(245, 245, 245, 0.80);
}

.contentFlexJustify {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.demo-button{
  margin: 1%;
}

.example-spacer {
  flex: 1 1 auto;
}
