<div>
  <button mat-raised-button color="warn" (click)="logout()">Log out</button>
</div>

<div *ngFor="let list of itemsListMockapi$ | async" class="grid-container">
  <table mat-table [dataSource]="list.items" matSort class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="Id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id</th>
      <td mat-cell *matCellDef="let element" [ngClass]="{'inactive': !element.active}"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Title">
      <th mat-header-cell *matHeaderCellDef> Title</th>
      <td mat-cell *matCellDef="let element" [ngClass]="{'inactive': !element.active}"> {{element.title}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="Content">
      <th mat-header-cell *matHeaderCellDef> Content</th>
      <td mat-cell *matCellDef="let element" [ngClass]="{'inactive': !element.active}"> {{element.content}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="Deadline">
      <th mat-header-cell *matHeaderCellDef> Deadline</th>
      <td mat-cell *matCellDef="let element"
          [ngClass]="{'inactive': !element.active}"> {{element.deadline | date:'dd.MM.YYYY HH:mm'}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="Active">
      <th mat-header-cell *matHeaderCellDef> Active</th>
      <td mat-cell *matCellDef="let element" [ngClass]="{'inactive': !element.active}"> {{element.active}} </td>
    </ng-container>

    <ng-container matColumnDef="Edit">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <button mat-button>Edit</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="Delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <button mat-button>Delete</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
