$inactive_text_color: gray;
$even_row_color: rgba(245, 245, 245, 0.80);

.grid-container {
  margin: 1%;
}

.small-icon {
  font-size: smaller;
}

table {
  width: 100%;
}

.inactive {
  color: $inactive_text_color;
}

.contentFlexJustify {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mat-row:nth-child(even) {
  background-color: $even_row_color;
}
