
<div class="grid-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{this.todoItem.title}}</mat-card-title>
      <mat-card-subtitle>{{this.todoItem.deadline.toDate() | date : 'dd/MM/yyyy HH:mm'}}</mat-card-subtitle>
<!--      <mat-card-subtitle>{{this.todoItem.deadline}}</mat-card-subtitle>-->
      <mat-card-subtitle>{{this.todoItem.active}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      {{this.todoItem.content}}
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button class="actionButton" (click)="onDone(this.todoItem)">
        <mat-icon class="small-icon">edit</mat-icon>
      </button>
      <button mat-icon-button class="actionButton" (click)="onDelete(this.todoItem)">
        <mat-icon class="small-icon">delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
