.grid-container {
  padding: 1%;
}

.small-icon {
  font-size: smaller;
}

.small-text {
  font-size: small;
  width: 100%;
}

mat-card-actions {
  display: flex;
  align-items: flex-end;
  margin-top: -0.5%
}

.actionButton {
  min-width: fit-content;
  opacity: 50% ;
}

.actionButton:hover {
  opacity: 100% ;
}

